@namespace DotNetBankingAppClient.Components
@inherits CardItemLogic

<button class="card-item @Classes" type="button" onclick="@HandleOnItemClicked" onmouseover="@HandleOnItemHovered" onmouseout="@HandleOnItemUnhovered" style="background: @Card.GetCardColors(); @Styles">
    <div class="card-item-icons">
        <div class="card-item-chip-icon">
            <IconCPU />
        </div>
        <div class="card-item-contactLess-icon">
            <IconWifi />
        </div>
    </div>
    <div class="card-item-details">
        <p class="card-item-details-number">@FormatHelper.FormatCardNumber(Card.CardNumber)</p>
        <p class="card-item-details-embossing">@Card.Embossing</p>
    </div>
   
</button>
