@using DotNetBankingAppClientContracts.Constants
@inject IAppNavigationProvider NavManager;
@inject IStoreProvider Store;
@inject IAppResponsiveProvider AppResponsive;
@inject IAppLoggerProvider Logger;

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override void OnInitialized()
    {
        AppResponsive.ListenForResponsiveChanges(async (size, width) =>
        {
            await Store.CacheData(StoreKeys.Responsive, size);
            await Store.CacheData(StoreKeys.WindowWidth, width);
        });

        NavManager.NavigateTo("/", replace: true);
    }
}