@page "/signUp"

@namespace DotNetBankingAppClient.Pages
@inherits SignUpPageLogic

<PageTitle>Banking App - Sign Up</PageTitle>
<AppScreen title="Sign Up" variant="AppHeaderVariant.Dark" pageClasses="signUp-app-screen" contentClasses="signUp-app-screen-children" loading=@isFetching>
    <div class="signUp-content">
        <Typography color="TypographyColor.Highlight" classes="signUp-title">Welcome To Dot Net Banking!</Typography>
        <Typography classes="signUp-subtitle">Create an account to get started</Typography>

        <div class="signUp-icon"></div>

        <div class="signUp-inputs">
            <InputField value=@userName onChange="@OnChangeUserName" placeholder="User Name" />
            <InputField value=@password onChange="@OnChangePassword" placeholder="Password" />
            <InputField value=@phoneNumber onChange="@OnChangePhoneNumber" placeholder="Phone Number" />
        </div>
        @if(errorMessage != null)
        {
            <Typography color="TypographyColor.Error" classes="signUp-error-message">@errorMessage</Typography>
        }

        <div class="signUp-bottom-content" styles="">
            <AppButton text="Sign In" onClick="@OnClickSignUpButton" classes="signUp-button" />
            <Typography>Have an account? <span onclick="@OnClickSignInLink" style="color: #0077d1; padding: 2px 0; font-weight: 600;">Sign In</span></Typography>
        </div>
    </div>
</AppScreen>
